/* Common Styles */
.body {
  margin: 0px;
}
.container {
  padding-bottom: 10px;
  margin-bottom: 30px;
  /* border: 2px solid black; */
}
.section_title {
  padding: 2% 0%;
}
.section_title a {
  color: orange;
  text-decoration: none;
}
.section_title a:hover {
  transform: scale(1.05);
}
.card {
  padding: 2%;
  text-align: center;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 50px 1px #cecece;
}
.card:hover {
  transform: scale(1.02);
}
button {
  color: white;
  margin-top: 20px;
  padding: 5px 15px;
  background-color: black;
  border: none;
  border-radius: 8px;
}

/* Navbar */
.nav-link:hover {
  transform: scale(0.9);
  color: yellow;
}

/* Carousel Styles */
.first_section {
  background-image: url(css/images/ellipses.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 10%;
}
.carousel-inner {
  background-image: url(css/images/best_products.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6%;
  border-radius: 15px;
}
.carousel-item {
  padding: 20px 40px;
}
.carousel-indicators li {
  background-color: grey;
}
.carousel-indicators .active {
  background-color: orange;
}

/* Categories Styles  */
.categories {
  text-align: center;
  margin-top: 10%;
}
#cat_hr {
  width: 40px;
  margin: 0px auto 20px auto;
  padding: 5px 50px;
  background-image: linear-gradient(90deg, #ffd280, orange);
  border-radius: 20px;
}
.cat_bag {
  margin: 10% 0%;
  padding: 30% 10% 10% 10%;
  text-align: center;
  border: none;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 2px 2px 50px 1px #cecece;
}
.cat_beauty {
  margin: 10% 0%;
  padding: 30% 10% 10% 10%;
  text-align: center;
  border: none;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 2px 2px 50px 1px #cecece;
}
.cat_shoe {
  margin: 10% 0%;
  padding: 30% 10% 10% 10%;
  text-align: center;
  border: none;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 2px 2px 50px 1px #cecece;
}
.cat img {
  width: 50%;
  margin: 0px auto;
}
.cat_busket:hover {
  transform: scale(1.02);
}

/* Social Media Icon  */
/* Style all font awesome icons */
.social-icon-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-icon {
  margin: 0px 5px;
  padding: 10px;
  width: 40px;
  height: 40px;
  background: black;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon .fa {
  color: white;
  font-size: 15px;
}

/* Hover Dffect */
.social-icon:hover > .fa-facebook {
  color: #4267b2;
  text-decoration: none;
}
.social-icon:hover > .fa-twitter {
  color: #1da1f2;
  text-decoration: none;
}
.social-icon:hover > .fa-linkedin {
  color: #0e76a8;
  text-decoration: none;
}
.social-icon:hover > .fa-instagram {
  color: #da2f69;
  text-decoration: none;
}
.footer a {
  color: black;
  text-decoration: none;
}
.footer p {
  margin: 0px;
}

/* Footer  */
footer {
  text-align: center;
}
